<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hadi</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="home">
    <a href="{{ url_for('get_home') }}">HomePage</a>
    <h1 class="title top">Hello, Welcome to my Website!</h1>
    <h2>I'm a Junior Programmer.</h2>
    <a href="{{ url_for('get_blog') }}">Go to my Blog</a>
    <h6>@CopyRight {{ year }}, Hadi Yousefi</h6>
    </div>
</body>
</html>